@import 'tailwindcss';

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 !important;
  overflow: visible !important;
}

.container {
  display: flex;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #059669;
  border-color: #059669 transparent #059669 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
